body {
  background-image: linear-gradient(180deg, #000, #00183c);
  height: 100vh;
  overflow-x: hidden;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
  display: flex;
  align-items: center;
  color: #fff;
  gap: 70px;
  padding: 20px;
}


.logo-wrappeer img {
  width: 100%;
  max-width: 120px;
}

.navs-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 30px;
  font-weight: 600;
}

nav {
  width: 90%;
}

.settings-wrapper {
  width: 30%;
}

.toggle-btn {
  display: none;
}

.toggle-btn img {
  width: 30px;
}

.navLinks-wrappeer {
  display: flex;
  gap: 60px;
}

.individual-link-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.individual-link-wrapper img {
  width: 30px;
}

.links {
  color: #fff;
  text-decoration: none;
}

.settings-wrapper .inner-settings-container {
  display: flex;
  justify-content: flex-end;
}

.profile-logo {
  display: flex;
  align-items: center;
  gap: 30px;
}

.profile-logo img {
  width: 50px;
  border-radius: 100px;
}

/*Profile Components*/
.profile-container {
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 1000;
  max-width: 300px;
  height: 100%;
  max-height: 300px;
  color: white;
  background-color: #010925;
  border-top: none;
  border-left: 1px solid #333;
  border-bottom: 1px solid #333;;
  right: 0;
  padding: 20px;
}

.setting-profile-wrapper {
  position: absolute;
  display: flex;
  right: 0;
  padding-right: 20px;
  align-items: center;
  gap: 20px;
}

.setting-profile-wrapper img {
  width: 40px;
  border-radius: 100px;
}

.divider {
  margin-top: 60px;
  border: 1px solid #5555552f;
}

.settings-actions-wrapper p {
  padding-bottom: 15px;
}

/*Search Page*/
.search-input-wrapper {
  width: 100%;
  max-width: 100%;
  height: 70px;
  border: 1px solid #ededed;
  background: linear-gradient(-180deg, #999999, #5d5d5d);
  padding-left: 20px;
  padding-right: 20px;
}

.search-input-wrapper input {
  width: 100%;
  max-width: 1200px;
  height: 68px;
  border: none;
  background: linear-gradient(-180deg, #999999, #5d5d5d);
  outline: none;
  font-size: 20px;
  color: #cdcdcd;
}

.search-input-wrapper input::placeholder {
  color: #cdcdcd;
  padding-left: 30px;
  font-size: 25px;
  font-weight: 500;
}

.search-wrapper h2 {
  color: #fff;
  padding: 20px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  width: 100%;
  bottom: 0;
  color: #fff;
}

.footer img {
  width: 100px;
}

.footer ul {
  display: flex;
  gap: 30px;
  list-style: none;
}




@media (max-width: 768px) {
  .toggle-btn {
    display: block;
  }

  nav {
    display: none;
  }

  .settings-wrapper {
    width: 100%;
  }

  .profile-logo img {
    width: 40px;
  }

  .profile-logo p {
    display: none;
  }

  .mobileNav-wrapper {
    margin-top: 20px;
    height: 100%;
    min-height: 330px;
    background-color: #010925;
  }

  .mobileNav-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 15px;
  }

  .mobileNav-container img {
    width: 23px;
  }

  .profile-container {
    position: absolute;
    width: 100%;
    z-index: 1000;
    max-width: 230px;
    height: 100%;
    max-height: 300px;
    color: white;
    background-color: #010925;
    border-top: none;
    border-left: 1px solid #333;
    border-bottom: 1px solid #333;;
    right: 0;
    padding: 20px;
  }

  .search-input-wrapper {
    width: 100%;
    max-width: 350px;
    height: 70px;
    border: 1px solid #ededed;
    background: linear-gradient(-180deg, #999999, #5d5d5d);

  }
  
  .search-input-wrapper input {
    width: 100%;
    max-width: 600px;
    height: 68px;
    border: none;
    background: linear-gradient(-180deg, #999999, #5d5d5d);
    outline: none;
    font-size: 20px;
    color: #cdcdcd;
  }
  
  .search-input-wrapper input::placeholder {
    color: #cdcdcd;
    font-size: 25px;
    font-weight: 500;
  }

}